body {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(7, 25, 87);
    text-align: center;
}
#button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    padding: 5px;
    background-color: #ffb4b4;
}
